body{
	background-color:#F5F5DC;
	color:black;
	font-family:Arial;
}
.pic1{height:120px;
	width:160px;
	border: 1px solid black;
	border-radius: 60%;
	float:left;
	margin: 20px;
}
h1{
	text-align:center;
}
.pic2{height:120px;
	width:160px;
	border: 1px solid black;
	border-radius: 60%;
	float:left;
	margin: 20px;
}
.pic3{height:120px;
	width:160px;
	border: 1px solid black;
	border-radius: 100%;
	float:left;
	margin: 20px;
}
.pic4{height:120px;
	width:160px;
	border: 1px solid black;
	border-radius: 100%;
	float:left;
	margin: 20px;
}
	
